<!--Section Hero-->
<section id="hero" class="hero align-items-stretch">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/HyVwL7khTVc?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="capa">
  </div>
  <div class="hero-inferior">
    <img class="hero-inferior-imagen img-fluid" ngSrc="./assets/images/bannerPortafolio-removebg-preview.png"
         alt="Computadores, Html, CSS, JavaScript, Angular, Java, Nodejs, SQL Server, MongoDB." height="500"
         width="500">
  </div>
</section>

<!--Section About me-->
<section id="aboutMe" class="Aboutme seccion-oscura">
  <div class="contenedor text-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1>Hello there, I am Victor Gutierrez</h1>
    </div>
    <p class="text-section">I am a Systems Engineer, and video game developer in Unity with a great passion for
      technology, learning, and the improvement of my new skills and the immersion that can be offered in video
      games.
      My areas of interest are those where I can apply my skills as a programmer to create immersive and effective
      mechanics for video games and specially, I am focused on developing the behaviors of enemies and NPC. I am a
      lover of RPG and RogueLike games and the use of Artificial Intelligence draws my attention.
    </p>
    <div class="row icon-social-networks">
      <div class="col d-flex justify-content-center align-items-center flex-column">
        <h2 class="title-section">My CV</h2>
        <a class="text-light" href="https://1drv.ms/b/s!At_IqhFtIZRai79ShRCwk6DoPzeSvA?e=5qvhwi" target="_blank"
           rel="noopener noreferrer">
          <i class="bi bi-file-text-fill icono-grande"></i>
        </a>
      </div>
      <div class="col d-flex justify-content-center align-items-center flex-column">
        <h2 class="title-section">My itch.io</h2>
        <a class="text-light" href="https://vicvaporu.itch.io" target="_blank">
          <i class="bi bi-controller icono-grande"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<!--Experience-->
<section class="experience seccion-clara">
  <div class="container text-center">
    <div class="row">
      <!--			Video Game Development-->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-controller"></i>
        <p class="experience-title">VideoGame Developer</p>
        <p>Development of VideoGames and gameplay mechanics taking into account the good development practices
          and scalable code architecture.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">Unity</span>
          <span class="badge text-bg-primary">Unity 2D</span>
          <span class="badge text-bg-primary">Unity 3D</span>
          <span class="badge text-bg-primary">C#</span>
          <span class="badge text-bg-primary">GitHub</span>
        </div>
      </div>
      <!--      Functional analyst-->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-graph-up-arrow"></i>
        <p class="experience-title">Functional analyst</p>
        <p>PL/SQL support, development of databases, functional analysis of requirements, test plans and java
          code
          debugging.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">PL/SQL</span>
          <span class="badge text-bg-primary">T-SQL</span>
          <span class="badge text-bg-primary">Java</span>
          <span class="badge text-bg-primary">Test plans</span>
          <span class="badge text-bg-primary">Power BI</span>
        </div>
      </div>
      <!--			Student-->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-book"></i>
        <p class="experience-title">Student</p>
        <p>Training based on software development, especially APIs, databases, video games, and mobile
          development using
          the best practices and oriented to the business.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">Systems Engineer at<br>Fundación Universitaria Konrad Lorenz</span>
          <span class="badge text-bg-primary">Unity Junior Developer from Generation Colombia</span>
          <span class="badge text-bg-primary">FullStack web development</span>
          <span class="badge text-bg-primary">Video games developer</span>
          <span class="badge text-bg-primary">Researcher</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Projects-->
<!--<p>AÑADIR DESCRIPCIÓN A LOS JUEGOS</p>-->
<section id="projects" class="recent-projects seccion-clara d-flex flex-column">
  <h2 class="title-section texto-negro">My projects</h2>
  <h3 class="description-section">These are quite a number of my recent projects</h3>
  <!--	Project gallery-->
  <div class="container text-center projects-container">
    <div class="row">
      <!--      Project 1-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="project">
          <img ngSrc="./assets/images/HeartOfOak.png" alt="" width="800" height="800">
          <div class="overlay">
            <h4 class="title-section">Heart of Oak</h4>
            <div class="icons-container">
              <a href="https://flexcat.itch.io/the-hearth-of-oak" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
              <a href="https://github.com/VicVaporu01/FinalProject_Generation" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--      Proyecto 2-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="project">
          <img ngSrc="./assets/images/ML-AGENTS-UNITY.png" alt="" height="880" width="1885">
          <div class="overlay">
            <p>Ants_AI</p>
            <div class="icons-container">
              <a href="https://github.com/VicVaporu01/AR_Ants" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="https://vicvaporu.itch.io/ai-ants" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--			Project 3-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="project">
          <img ngSrc="./assets/images/Evolution%20cell.png" alt="" height="800" width="297">
          <div class="overlay">
            <h4 class="title-section">Evolution Cell</h4>
            <div class="icons-container">
              <a href="https://github.com/VicVaporu01/Project_GameJam3" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="https://sofi-cu.itch.io/evolution-cell" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--			Project 4-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="project">
          <img ngSrc="./assets/images/TimeMaze.png" alt="" height="1600" width="1600">
          <div class="overlay">
            <h4 class="title-section">Time Maze</h4>
            <div class="icons-container">
              <a href="https://github.com/VicVaporu01/Project_GameJam2" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="https://jonfrasandev.itch.io/proyectojam" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <a href="https://github.com/VicVaporu01?tab=repositories" target="_blank" rel="noopener noreferrer">
    <button type="button" class="btn btn-info ">
      Explore more of my projects
      <i class="my-arrow bi bi-arrow-right-circle-fill"></i>
    </button>
  </a>
</section>

<!--Contact-->
<section id="contact" class="contact seccion-oscura">
  <div class="container">
    <div class="container text-center rectangle d-flex justify-content-evenly">
      <div class="row">
        <div class="col-12 col-md-4 title-section">Let's talk!</div>
        <div class="col-12 col-md-4 desciption">Contact me to start your video game project, and together we can
          bring
          your idea to life.
        </div>
        <div class="col-12 col-md-4 ">
          <a href="mailto:viccjuan@gmail.com">
            <button type="button">
              Contacto
              <i class="bi bi-envelope-check-fill"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Footer-->
<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
  <!--  <img class="footer-logo" ngSrc="./assets/images/icono-blanco.svg" alt="Briefcase logo" height="48" width="48">-->
  <p class="footer-texto text-center">Learning and growing<br>Together.</p>
  <p class="footer-texto text-center">My Email: viccjuan&#64;gmail.com<br>My Phone: +57 3015343123</p>
  <div class="icon-social-networks d-flex flex-wrap align-items-center justify-content-center">
    <!--    <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">-->
    <!--      <i class="bi bi-twitter"></i>-->
    <!--    </a>-->
    <a href="https://vicvaporu.itch.io"><i class="bi bi-controller"></i></a>
    <a href="https://github.com/VicVaporu01?tab=repositories" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/victor-jose-gutierrez/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="mailto:viccjuan@gmail.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-envelope"></i>
    </a>
  </div>
  <!--  <div class="derechos-de-autor">Made by Victor Gutierrez(2023) &#169;</div>-->
</footer>
