<!--Section Hero-->
<section class="hero align-items-stretch">
  <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
    <img class="hero-imagen-desarrollador rounded-circle" ngSrc="./assets/images/VicPicture.jpg"
         alt="Victor Gutierrez Picture" height="472" width="354">
    <h1>Hello there, I am Victor Gutierrez</h1>
    <h2>I develop websites, desktop apps, data bases and video games.</h2>
  </div>
  <div class="hero-inferior">
    <img class="hero-inferior-imagen img-fluid" ngSrc="./assets/images/hero-inferior_Vic.png"
         alt="Computadores, Html, CSS, JavaScript, Angular, Java, Nodejs, SQL Server, MongoDB." height="3288"
         width="5756">
  </div>
</section>

<!--Section About me-->
<section class="Aboutme seccion-oscura">
  <div class="contenedor text-center">
    <h2 class="seccion-titulo">Meet Victor Gutierrez</h2>
    <p class="seccion-texto">Systems Engineering student
                             passionate for his work, with the ability
                             to learn fast, research capacity and
                             willing to improve and grow personally
                             and professionally.
    </p>
  </div>
</section>

<!--Experience-->
<section class="experience seccion-clara">
  <div class="container text-center">
    <div class="row">
      <!--			Web development-->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-laptop"></i>
        <p class="experience-title">Web development</p>
        <p>Development of website projects taking into account the good development practices and scalable code
           architecture.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">Html</span>
          <span class="badge text-bg-primary">CSS</span>
          <span class="badge text-bg-primary">JavaScript</span>
          <span class="badge text-bg-primary">Node.js</span>
          <span class="badge text-bg-primary">Express.js</span>
          <span class="badge text-bg-primary">Angular</span>
          <span class="badge text-bg-primary">Bootstrap</span>
          <span class="badge text-bg-primary">MongoDB</span>
        </div>
      </div>
      <!--      Functional analyst-->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-graph-up-arrow"></i>
        <p class="experience-title">Functional analyst</p>
        <p>PL/SQL support, development of databases, functional analysis of requirements, test plans and java code
           debugging.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">PL/SQL</span>
          <span class="badge text-bg-primary">T-SQL</span>
          <span class="badge text-bg-primary">Java</span>
          <span class="badge text-bg-primary">Test plans</span>
          <span class="badge text-bg-primary">Power BI</span>
        </div>
      </div>
      <!--			Student-->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-book"></i>
        <p class="experience-title">Student</p>
        <p>Training based on software development, especially APIs, databases, video games, and mobile development using
           the best practices and oriented to the business.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">Systems Engineer at<br>Fundación Universitaria Konrad Lorenz</span>
          <span class="badge text-bg-primary">FullStack web development</span>
          <span class="badge text-bg-primary">Video games developer</span>
          <span class="badge text-bg-primary">Researcher</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Projects-->
<section class="recent-projects seccion-clara d-flex flex-column">
  <h2 class="seccion-titulo texto-negro">My projects</h2>
  <h3 class="seccion-descripcion">These are quite a number of my recent projects</h3>
  <!--	Project gallery-->
  <div class="container text-center projects-container">
    <div class="row">
      <!--			Project 1-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="project">
          <img ngSrc="./assets/images/PortfolioVic.png" alt="" height="1032" width="1920">
          <div class="overlay">
            <p>Project 1</p>
            <div class="icons-container">
              <a href="https://github.com/VicVaporu01/Vic_Portfolio/tree/master" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="https://vicvaporu01.github.io/Vic_Portfolio/" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--			Project 2-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="project">
          <img ngSrc="./assets/images/FiloFood_Home.png" alt="" height="1032" width="1920">
          <div class="overlay">
            <p>Project 2</p>
            <div class="icons-container">
              <a href="https://github.com/VicVaporu01/FiloFood" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="https://github.com/VicVaporu01/FiloFood" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--			Project 3-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="project">
          <img ngSrc="./assets/images/VicText.png" alt="" height="373" width="500">
          <div class="overlay">
            <p>Project 3</p>
            <div class="icons-container">
              <a href="https://github.com/VicVaporu01/VicText" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="https://github.com/VicVaporu01/VicText" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--			Project 4-->
<!--      <div class="col-12 col-md-6 col-lg-4">-->
<!--        <div class="project">-->
<!--          <img ngSrc="./assets/images/proyecto4.png" alt="" height="720" width="1280">-->
<!--          <div class="overlay">-->
<!--            <p>Project 4</p>-->
<!--            <div class="icons-container">-->
<!--              <a href="https://github.com/VicVaporu01/prueba-bd.git" target="_blank"-->
<!--                 rel="noopener noreferrer">-->
<!--                <i class="bi bi-github"></i>-->
<!--              </a>-->
<!--              <a href="https://github.com/VicVaporu01/prueba-bd.git" target="_blank"-->
<!--                 rel="noopener noreferrer">-->
<!--                <i class="bi bi-laptop"></i>-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

    </div>
  </div>
  <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
    <button type="button" class="btn btn-info ">
      Explore more projects
      <i class="my-arrow bi bi-arrow-right-circle-fill"></i>
    </button>
  </a>
</section>

<!--Contact-->
<section class="contact seccion-oscura">
  <div class="container">
    <div class="container text-center rectangle d-flex justify-content-evenly">
      <div class="row">
        <div class="col-12 col-md-4 seccion-titulo">Let's talk!</div>
        <div class="col-12 col-md-4 desciption">Phone me to start your website project, and I'll make your
                                                vision come true.
        </div>
        <div class="col-12 col-md-4 ">
          <a href="mailto:vicjos1@outlook.es">
            <button type="button">
              Contacto
              <i class="bi bi-envelope-check-fill"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Footer-->
<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
  <img class="footer-logo" ngSrc="./assets/images/icono-blanco.svg" alt="Briefcase logo" height="48" width="48">
  <p class="footer-texto text-center">Learning and making everyday.<br>Let's make a project together.</p>
  <div class="icon-social-networks d-flex flex-wrap align-items-center justify-content-center">
    <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-twitter"></i>
    </a>
    <a href="https://github.com/VicVaporu01?tab=repositories" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github"></i>
    </a>
    <a href="https://linkedin.com/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram"></i>
    </a>
    <a href="mailto:vicjos1@outlook.es" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-envelope"></i>
    </a>
  </div>
  <div class="derechos-de-autor">Made by Victor Gutierrez(2023) &#169;</div>
</footer>
