<!--Section Hero-->
<section class="hero align-items-stretch">
  <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
    <img class="hero-imagen-desarrollador rounded-circle" ngSrc="./assets/images/VicPicture.jpg"
         alt="Victor Gutierrez Picture" height="472" width="354">
    <h1>Hello there, I am Victor Gutierrez</h1>
    <h2>I develop websites, desktop apps, data bases and video games.</h2>
  </div>
  <div class="hero-inferior">
    <img class="hero-inferior-imagen img-fluid" ngSrc="./assets/images/hero-inferior_Vic.png"
         alt="Computadores, Html, CSS, JavaScript, Angular, Java, Nodejs, SQL Server, MongoDB." height="3288"
         width="5756">
  </div>
</section>

<!--Section About me-->
<section class="Aboutme seccion-oscura">
  <div class="contenedor text-center">
    <h2 class="seccion-titulo">Meet Victor Gutierrez</h2>
    <p class="seccion-texto">Systems Engineering student
                             passionate for his work, with the ability
                             to learn fast, research capacity and
                             willing to improve and grow personally
                             and professionally.
    </p>
  </div>
</section>

<!--Experience-->
<section class="experience seccion-clara">
  <div class="container text-center">
    <div class="row">
      <!--			Web development-->
      <div class="columna col-12 col-md-6">
        <i class="bi bi-laptop"></i>
        <p class="experience-title">Web development</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce
           posuere.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">Html</span>
          <span class="badge text-bg-primary">CSS</span>
          <span class="badge text-bg-primary">JavaScript</span>
          <span class="badge text-bg-primary">React</span>
          <span class="badge text-bg-primary">Bootstrap</span>
        </div>
      </div>
      <!--			Estudent-->
      <div class="columna col-12 col-md-6">
        <i class="bi bi-book"></i>
        <p class="experience-title">Estudent</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce
           posuere.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">Systems Engineer at Konrad Lorenz</span>
          <span class="badge text-bg-primary">FullStack web development</span>
          <span class="badge text-bg-primary">Java</span>
          <span class="badge text-bg-primary">Data bases</span>
          <span class="badge text-bg-primary">Python</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Projects-->
<section class="recent-projects seccion-clara d-flex flex-column">
  <h2 class="seccion-titulo texto-negro">My projects</h2>
  <h3 class="seccion-descripcion">These are quite a number of my recent projects</h3>
  <!--	Project gallery-->
  <div class="container text-center projects-container">
    <div class="row">
      <!--			Project 1-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="project">
          <img ngSrc="./assets/images/proyecto1.png" alt="" height="720" width="1280">
          <div class="overlay">
            <p>Project 1</p>
            <div class="icons-container">
              <a href="https://github.com/VicVaporu01/Vic_Portfolio.git " target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="https://github.com/VicVaporu01/Vic_Portfolio.git" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--			Project 2-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="project">
          <img ngSrc="./assets/images/proyecto2.png" alt="" height="720" width="1280">
          <div class="overlay">
            <p>Project 2</p>
            <div class="icons-container">
              <a href="https://github.com/VicVaporu01/VicText.git" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="https://github.com/VicVaporu01/VicText.git" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--			Project 3-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="project">
          <img ngSrc="./assets/images/proyecto3.png" alt="" height="720" width="1280">
          <div class="overlay">
            <p>Project 3</p>
            <div class="icons-container">
              <a href="https://github.com/VicVaporu01/LoroPedia.git" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="https://github.com/VicVaporu01/LoroPedia.git" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--			Project 4-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="project">
          <img ngSrc="./assets/images/proyecto4.png" alt="" height="720" width="1280">
          <div class="overlay">
            <p>Project 4</p>
            <div class="icons-container">
              <a href="https://github.com/VicVaporu01/prueba-bd.git" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="https://github.com/VicVaporu01/prueba-bd.git" target="_blank"
                 rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
    <button type="button" class="btn btn-info ">
      Explore more projects
      <i class="my-arrow bi bi-arrow-right-circle-fill"></i>
    </button>
  </a>
</section>

<!--Articles-->
<section class="articles justify-content-start">
  <h2 class="seccion-titulo">Articles</h2>
  <div class="card">
    <div class="card-header">
      More recent
    </div>
    <ul class="list-group list-group-flush">
      <a href="https://www.freecodecamp.org/learn" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">
          The &#64;property decorator in Python - How tu use it, advantages and
          syntax
        </li>
      </a>
      <a href="https://www.freecodecamp.org/learn" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">
          Python tutorial while loop - while True examples of syntax and infinite cycles
        </li>
      </a>
      <a href="https://www.freecodecamp.org/learn" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">
          Python read JSON archive - How to load JSON from an archive and process dumps
        </li>
      </a>
      <a href="https://www.freecodecamp.org/learn" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">
          Python how to write to a file - open, read, write and other file functions explained
        </li>
      </a>
      <a href="https://www.freecodecamp.org/learn" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">
          What is Python used for? 10+ uses of the Python programming language
        </li>
      </a>
    </ul>
  </div>
  <a href="https://www.freecodecamp.org/espanol/news/" target="_blank" rel="noopener noreferrer">
    <button type="button" class="btn btn-info">
      Explore more articles
      <i class="bi bi-book-half"></i>
    </button>
  </a>

</section>

<!--Testimonials-->
<section class="testimonials seccion-clara">
  <h2 class="seccion-titulo">Testimonials</h2>
  <h3 class="seccion-descripcion">Here are a few of my customer's testimonials...</h3>

  <!--	Carousel-->
  <div id="testimonials-carousel" class="carousel carousel dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <img class="testimonials-img rounded-circle" ngSrc="./assets/images/cliente1.svg" alt="Gino's photo"
               height="48" width="48">
          <p class="testimonial-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam
            malesuada urna, in auctor mauris egestas sit amet. Maecenas fringilla
            nunc lorem, a blandit lacus interdum vitae.
          </p>
          <div class="testimonial-inf">
            <p class="customer">Gino</p>
            <p class="position">Project manage in Web Development</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <img class="testimonials-img rounded-circle" ngSrc="./assets/images/cliente2.svg" alt="Noras's photo"
               height="48" width="48">
          <p class="testimonial-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta placerat magna sit amet
            convallis. Nam et nisi tempus, ultrices mi eleifend, fermentum ante.
          </p>
          <div class="testimonial-inf">
            <p class="customer">Nora</p>
            <p class="position">Design Manager MyWebPage</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <img class="testimonials-img rounded-circle" ngSrc="./assets/images/cliente3.svg" alt="Leonardo's photo"
               height="48" width="48">
          <p class="testimonial-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu odio rhoncus, luctus quam
            ut, venenatis lacus. Sed sollicitudin sem sit amet velit interdum, vel aliquam est tincidunt.
          </p>
          <div class="testimonial-inf">
            <p class="customer">Leonardo</p>
            <p class="position">Director of AprendeAProgramar</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#testimonials-carousel"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#testimonials-carousel"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>

<!--Contact-->
<section class="contact seccion-oscura">
  <div class="container">
    <div class="container text-center rectangle d-flex justify-content-evenly">
      <div class="row">
        <div class="col-12 col-md-4 seccion-titulo">Let's talk!</div>
        <div class="col-12 col-md-4 desciption">Phone me to start your website project, and I'll make your
                                                vision come true.
        </div>
        <div class="col-12 col-md-4 ">
          <a href="mailto:vicjos1@outlook.es">
            <button type="button">
              Contacto
              <i class="bi bi-envelope-check-fill"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Footer-->
<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
  <img class="footer-logo" ngSrc="./assets/images/icono-blanco.svg" alt="Briefcase logo" height="48" width="48">
  <p class="footer-texto text-center">Learning and making everyday.<br>Let's make a project together.</p>
  <div class="icon-social-networks d-flex flex-wrap align-items-center justify-content-center">
    <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-twitter"></i>
    </a>
    <a href="https://github.com/VicVaporu01?tab=repositories" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github"></i>
    </a>
    <a href="https://linkedin.com/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram"></i>
    </a>
    <a href="mailto:vicjos1@outlook.es" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-envelope"></i>
    </a>
  </div>
  <div class="derechos-de-autor">Made by Victor Gutierrez(2023) &#169;</div>
</footer>
